<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.bianca.doasanca">

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.bianca.doasanca.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name="com.example.bianca.doasanca.cenario.cenario_lista_local.Lista_locais"
                android:label="Locais">
        </activity>
        <activity android:name="com.example.bianca.doasanca.cenario.cenario_lista_local.ItemListaLocais">
        </activity>
        <activity
                android:name="com.example.bianca.doasanca.cenario.cenario_splash_screen.SplashScreenActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.bianca.doasanca.cenario.cenario_info_local.Info">
        </activity>
        <activity android:name="com.example.bianca.doasanca.cenario.cenario_cadastra_local.CadastraLocalActivity">
        </activity>
        <activity android:name="com.example.bianca.doasanca.cenario.cenario_detalhes_local.DetalhesLocalActivity">
        </activity>
    </application>

</manifest>